<% provide(:title, 'About Us') %>
<h1>ABOUT</h1>
<p>
  このアプリケーションは 
  <a href="https://ja.wikipedia.org/wiki/Ruby_on_Rails">「Ruby on Rails」</a>
 というフレームワークを使って製作されたものです。<br>
 ユーザーは、それぞれが呟きたいことを自由につぶやくことができ、公開したり、他者のつぶやきを閲覧することができます。<br>
 また、つぶやきに写真を添付することも可能なので、見たもの、感じたものを気軽に投稿することが可能です。<br>
 みなさん、自由なコミュニケーションを楽しんでください。
</p>