<% provide(:title, 'All users') %>
<h1>すべてのユーザー</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>